{% extends 'libreria_core/padre.html' %}
{% load static %}
{% block title %} Library store {% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <div>
        <!--Presentación-->
        <div class="div-center bienvenida">
            <p class="text-center title" id="porno">Bienvenido a Library Store</p>
            <div class="row">
              <div class="col-sm">
              </div>
              <div class="col">
                <p class="text-center text-by">Con nosotros no solo encontraras nuevos libros que te interesen, tambien contamos con una gran variedad, entre ellas mangas y comics, con variedad de generos</p>
              </div>
              <div class="col-sm">
              </div>
            </div>
          </div>
        <!--Quienes somos-->
        <div class="div-center somos">
          <p class="text-center title">¿Quienes somos?</p>
          <div class="row">
            <di class="col-sm"></di>
            <di class="col">
              <p class="text-center text-by">Somos una libreria dedicada a traer todo tipo de lectura, desde la menos a la más popular, para que nuestros lectores disfruten de una gran variedad</p>
            </di>
            <di class="col-sm"></di>
          </div>
        </div>
        <div class="div-center bottom-div productos">
          <p class="text-center title">Nuestros Productos</p>
        </div>

    </div>


    <div class="text-center" id="cargador">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!--    <div class="container bottom-div"> 
      <div class="row">
        <PRIMER FORM CARD->
        <div class="col-m">
          <div class="p-3 bck-w border-r">
            <div class="card dec-hov card_2 shadow" style="width: 18rem;">
              <img src="{{data.items.0.portada}}" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title text-center title-card">{{data.items.0.nombre}}</h5>
                <p class="card-text text-center text-by">Precio: {{data.items.0.precio}}</p>
                <div class='d-flex justify-content-center text-center'>
                  <form method="POST" action="" enctype="multipart/form-data" id="formulario-agregar">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form1}}
                    </div>
                    <input type="submit" class="botonA" id="enviar" value="Comprar">
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <--SEGUNDO FORM CARD->
        <div class="col-m">
          <div class="p-3 bck-w border-r">
            <div class="card dec-hov card_2 shadow" style="width: 18rem;">
              <img src="{{data.items.1.portada}}" class="card-img-top max-tam-img" alt="">
              <div class="card-body">
                <h5 class="card-title text-center title-card">{{data.items.1.nombre}}</h5>
                <p class="card-text text-center text-by">Precio: {{data.items.1.precio}}</p>
                <div class='d-flex justify-content-center text-center'>
                <form method="POST" action="" enctype="multipart/form-data" id="formulario-agregar">
                  {% csrf_token %}
                  <div class="form-group">
                      {{form2}}
                  </div>
                  <input type="submit" class="botonA" id="enviar" value="Comprar">
              </form>
            </div>
              </div>
            </div>
          </div>
        </div>
        <--TERCER FORM CARD->
        <div class="col-m">
          <div class="p-3 bck-w border-r">
            <div class="card dec-hov card_2 shadow" style="width: 18rem;">
              <img src="{{data.items.2.portada}}" class="card-img-top max-tam-img" alt="">
              <div class="card-body">
                <h5 class="card-title text-center title-card">{{data.items.2.nombre}}</h5>
                <p class="card-text text-center text-by">Precio: {{data.items.2.precio}}</p>
                <div class='d-flex justify-content-center text-center'>
                <form method="POST" action="" enctype="multipart/form-data" id="formulario-agregar">
                  {% csrf_token %}
                  <div class="form-group">
                      {{form3}}
                  </div>
                  <input type="submit" class="botonA" id="enviar" value="Comprar">
              </form>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <--SEGUNDA ROW->
      <div class="row">
        <div class="col-sm"></div>
        <--CUARTO FORM CARD->
        <div class="col-m">
          <div class="p-3 bck-w border-r">
            <div class="card dec-hov card_2 shadow" style="width: 18rem;">
              <img src="{{data.items.3.portada}}" class="card-img-top max-tam-img" alt="">
              <div class="card-body">
                <h5 class="card-title text-center title-card">{{data.items.3.nombre}}</h5>
                <p class="card-text text-center text-by">Precio: {{data.items.3.precio}}</p>
                <div class='d-flex justify-content-center text-center'>
                <form method="POST" action="" enctype="multipart/form-data" id="formulario-agregar">
                  {% csrf_token %}
                  <div class="form-group">
                      {{form4}}
                  </div>
                  <input type="submit" class="botonA" id="enviar" value="Comprar">
              </form>
            </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div> -->


    <div class="container">
      <div class="dsp-card">
        {% for lib in libro %}
          <div class="dsp-card">
            <div class="card">
              <img src="{{lib.portada}}" class="card-img-top" alt="">
              <div class="card-body">
                <h4 class="center">{{lib.nombre}}</h4>
                <div class="card-body">
                  <p class="center">{{lib.precia}}</p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

</body>
</html>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static '/libreria_core/js/probando.js' %}"></script>

{% endblock %}